.container{
    height:200px;
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    
    
    
    


    /* flex-direction
    flex-direction:column;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: row-reverse;
    /* flex-wrap */

    /* flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-wrap: wrap-reverse;  */


}
.box{
    border: 1px solid black;
}